<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="port" source="server.port"/>

    <!-- CloudWatch 로그를 위한 파일 로깅 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/Users/donggyu/Desktop/data/logs/application.log</file> <!-- Fluent Bit에서 모니터링하는 경로 -->
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %level %thread %logger ip-10-120-14-154.ap-northeast-2.compute.internal lenderconnector-6fcc69ccbb-prc68 [Lenderconnector Log]
                {
                    HTTP_Method: %X{http_method},
                    Request_URL: %X{request_url},
                    Request_Headers: %X{request_headers},
                    Request_Body: %X{request_body},
                    HTTP_Status: %X{http_status},
                    Response_Headers: %X{response_headers},
                    Response_Body: %X{response_body},
                    Message: %message
                }%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

</configuration>
